<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Haze Booth">
	<meta name="description" content="The Pill programming language.">
	<title>The Pill Programming Language</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">


    <style>
        .logo-svg {
            width: 50px;
            height: auto;
            transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
        }
        body {
            font-size: 1.5rem;
        }
    </style>
</head>

<body>
    <div class="containe is-fluid" style="margin: 5vh 5vw;">
    	<img class="logo-svg" src="{{ url_for('static', filename='images/pill logo.svg') }}"/> </br>
		<span style="font-size: 2.5rem !important;">404 - Page Not Found</span> </br>
        <span >Please return <a href="/">home</a>.</span>
    </div>
</body>

</html>